// NOTE: designed to work with revertTitlebar

// put notices under titlebar
.notice-2FJMB4 {
  position: absolute;
  top: 70px;
  width: calc(100vw - 102px);
  border-radius: 0;

  .button-1MICoQ {
    border: none!important;
    color: #000;
    background-color: #fff;
    transition: color .2s, background-color .2s;

    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0);
      transition: color .2s, background-color .2s;
    }
  }

  .dismiss-SCAH9H {
    right: 0;
    transition:background 100ms ease!important;
  }

  .dismiss-SCAH9H:after {
    width:100%;
    height:100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left:calc(50% + 0.5px);
    top:calc(50% + 0px);
    -ms-transform:translate(-50%,-50%) scale(.9);
    transform:translate(-50%,-50%) scale(.9);
    transition: 300ms ease;
    pointer-events: none;
  }

  .dismiss-SCAH9H:active:after {
    opacity: 0.15;
    -ms-transform:translate(-50%,-50%) scale(.9);
    transform:translate(-50%,-50%) scale(.9);
    animation:scale-center 200ms cubic-bezier(0,0,0,1);
    transition: 0ms ease;
  }
}