// NOTE: designed around revertTitlebar

@mixin circle-ripple-animation($opacity, $size) {
  transition: background 100ms ease !important;

  &:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale($size);
    transform: translate(-50%, -50%) scale($size);
    transition: 300ms ease;
    pointer-events: none;
  }

  &:active:after {
    opacity: $opacity;
    -ms-transform: translate(-50%, -50%) scale($size);
    transform: translate(-50%, -50%) scale($size);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease;
  }
}

// min, max and close
.titleBar-AC4pGV {
  background: transparent !important;

  .winButton-iRh8-Z {
    @include circle-ripple-animation(0.15, 1.3);
  }
}

// titlebar
.chat .title-3qD0b- .icon-1R19_H {
  @include circle-ripple-animation(0.1, 1.3);
}

// attach file and emoji buttons
.chat .channelTextAreaEnabled-iusU9o .flex-1xMQg5,
.chat .channelTextAreaEnabled-iusU9o .emojiButton-3uL3Aw {
  width: 70px!important;

  @include circle-ripple-animation(0.15, 0.6);

  &.popout-open:after {
    opacity: 0.1;
  }
}

// dm button
.guilds-wrapper .scroller .friends-icon {
  height: 70px !important;
  margin: 0;

  @include circle-ripple-animation(0.1, 0.8);
}

// user popout
.userPopout-3XzG_A {
  .addButton-pcyyf6 {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

    @include circle-ripple-animation(0.1, 2.0);
  }

  .roleCircleButton-377y0l {
    @include circle-ripple-animation(0.1, 1.3);
  }
}

.scroller-2FKFPG {
  .containerDefault-1ZnADq .iconSpacing-3JkGQO {
    @include circle-ripple-animation(0.1, 1.3);
  }

  /*.containerDefault-3GGEv_ .margin-reset div {
    @include circle-ripple-animation(0.1, 1.3);
  }*/
}

.private-channel-call-actions .icons-wrapper .iconButton-3V4WS5 {
  @include circle-ripple-animation(0.1, 1.6);
}
