.app {
  overflow-x: hidden;
}

.header-toolbar button.active{
  display: none;
}

.channel-members {
  transform: translate(0px);
  z-index: 2000;
  transition:all 400ms cubic-bezier(.2,0,0,1);

  .member {
    .member-activity, .member-username-inner {
      opacity: 0;
      transition: all 100ms ease;
    }
  }

  h2 {
    transform: translate(-50%) scale(0.7);
    transition: 400ms cubic-bezier(.2,0,0,1), max-width 1ms;
    width: auto;
    display: inline-block;
    min-width: 10px;
    left: 45px;
    position: relative;
    flex-basis: auto;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
    right: 45px;
    padding-left: 0;
    padding-right: 0;
  }

  .avatar-small {
    transform: scale(1.2);
  }
}

.channel-members:hover {
  transform: translate(-150px);

  .member {
    .member-activity, .member-username-inner {
      opacity: 1;
    }
  }

  h2 {
    transform:translate(-15px)scale(1);
    max-width: 180px;
    text-overflow: 'a';
  }

  .avatar-small {
    transform: scale(1);
  }
}

.chat.flex-vertical.flex-spacer.private > .content.flex-spacer.flex-horizontal > .flex-spacer.flex-vertical {
  margin-right: 0;
  z-index: 0;
}
.channel-members-wrap {
  min-width: 90px !important;
  width: 90px !important;
}