.guilds-wrapper {
  position: absolute;
  transition: all .2s ease;
  left: -60px;
  height: 100%;
  z-index: 2;
  opacity: 0;

  .guilds.scroller {
    height: 100%;
  }

  .guilds .guilds-add {
    position: relative !important;
  }
}

.guilds-wrapper:hover {
  left: 0;
  opacity: 1;
}

.guilds>.guild:not(.guilds-add):last-of-type {
  margin-bottom: 0 !important;
}

.channels-wrap {
  z-index: 1;
}

.popout-3sVMXz.popout-bottom[style*="overflow: hidden; visibility: visible;"] {
  left: 0 !important;
  z-index: 1 !important;

  * {
    z-index: 1 !important;
  }
}

.popout.popout-top .status-picker.popout-menu {
  left: 0 !important;
}