@import 'https://rawgit.com/Masterzach32/BDStuff/master/CustomCss/root.css';

// status colors
$color-online: #43b581;
$color-idle: #faa61a;
$color-dnd: #f04747;
$color-offline: #636b75;

// guild list height for horizontalServerList
$guild-height: 70px;

/* Fix long usernames */
.container-iksrDt .accountDetails-15i-_e .username {
  font-size: 13px !important;
  text-overflow: none;
}

/* Add border between new dms and guilds */
.dms .guild:last-of-type {
  border-bottom: solid rgba(255, 255, 255, 0.2) 2px !important;
}

/* Remove bold from BD version information */
#bd-settings-sidebar span {
  font-weight: normal !important;
}

/* Fix group call buttons alignment */
.horizontal-2BEEBe > .flex-lFgbSz:last-child,
.horizontal-2BEEBe > .flexChild-1KGW5q:last-child {
  margin-right: 10px;
}

/* Theme the search bar for private channels */
.private-channels .search-bar {
  padding: 0;
}

.search-bar {
  .search-bar-inner {
    height: 100%;
    padding: 0;
  }

  input {
    height: 100%;
    padding: 5px 10px;
  }
}

/* game as status color */
@mixin member-activity-text($color) {
  .member-inner .member-activity-text strong {
    color: $color;
  }
}
.channel-members {
  .member.member-status-online {
    @include member-activity-text($color-online);
  }

  .member.member-status-idle {
    @include member-activity-text($color-idle);
  }

  .member.member-status-dnd {
    @include member-activity-text($color-dnd);
  }

  .member.member-status-offline {
    @include member-activity-text($color-offline);
  }
}

/* Slides guild wrapper out of view when not hovered */
.layer {
  .guilds-wrapper {
    transition: top .2s ease;
    top: 0;
    z-index: 1;
  }
  .guilds-wrapper:not(:hover) {
    top: 50px;
  }
  .guilds-wrapper ~ div {
    transition: height .2s ease;
  }
  .guilds-wrapper:not(:hover) ~ div {
    height: 100%;
  }
  .guilds-wrapper {
    transition: opacity .2s ease;
    opacity: 1;
  }
  .guilds-wrapper:not(:hover) {
    opacity: 0;
  }
}
/* Fixes borders around guilds in list */
/*.guilds-wrapper {
  width: $guild-height;

  .scroller-wrap {
    .guild {
      height: $guild-height;
      width: $guild-height;

      .guild-inner a {
        height: $guild-height !important;
        width: $guild-height !important;
      }
    }
  }

  .guilds-add {
    height: $guild-height;
    width: $guild-height;
  }

  /*a.guilds-error {
    height: 70px;
    width: 70px;
    position: relative;
    top: 0;
    left: 0;
    transform: rotate(90deg);
  }
}
/*.guilds-wrapper .scroller-wrap {
  width: $guild-height;
}*/
/*.guilds-wrapper .scroller-wrap .guild .guild-inner {
  height: $guild-height;
  width: $guild-height;
}*/

/* Adds a nice animation to the call bar */
@mixin callbar-animation($ms) {
  animation: callbar-slide-up $ms cubic-bezier(.2, 0, 0, 1);
}
.channels-wrap {
  .container-3lnMWU {
    @include callbar-animation(250ms);

    .inner-ptMwR- {
      .rtc-connection-status {
        @include callbar-animation(300ms);
      }

      .channel-3YGMy1 {
        @include callbar-animation(400ms);
      }
    }

    .flex-lFgbSz {
      .buttonInfo-3r6H7z {
        @include callbar-animation(450ms);
      }

      .buttonDisconnect-3xZpYL {
        @include callbar-animation(600ms);
      }
    }
  }
}
@keyframes callbar-slide-up {
  from {
    transform: translate(0, 40px);
  }
}

/* Fixes the borders around user's status in the private channel list */
.private-channels .channel .status {
  border-color: #222;
}

/* Adds a nice animation to new messages */
.message.message-sending .markup {
  animation: messages-slide-up 300ms cubic-bezier(0.3, 0, 0, 1), opacity 50ms ease;
}
@keyframes messages-slide-up {
  from {
    transform: translate(0,5px);
  }
}
.messages .message-group {
  animation: message-group-slide-up 300ms cubic-bezier(0.3, 0, 0, 1), opacity 50ms ease;
}
@keyframes message-group-slide-up {
  from {
    transform: translate(0,10px);
  }
}
