@import 'https://rawgit.com/Masterzach32/BDStuff/master/CustomCss/root.css';

// status colors
$color-online: #43b581;
$color-idle: #faa61a;
$color-dnd: #f04747;
$color-offline: #636b75;
// guild list height for horizontalServerList
$guild-height: 70px;

@import "noticeFix";
@import "ripples";
@import "languageName";
@import "callBarAnimations";
//@import "settingsModal";

/* -------------------------------- *
 *           Custom Styles          *
 * -------------------------------- */
/* Fix long usernames */
.container-2Thooq .accountDetails-3k9g4n .username {
  font-size: 13px !important;
  text-overflow: none;
}

/* Remove bold from BD version information */
#bd-settings-sidebar span {
  font-weight: normal !important;
}

/* Fixes the borders around user's status in the private channel list */
.private-channels .channel .status {
  border-color: #222;
}

/*
  TEMPORARY FIXES
 */

.friends-table-header {
  background: var(--lvl1);
}

.lookOutlined-3sRXeN {
  border: none!important;
}

.colorRed-1TFJan {
  color: #fff!important;
  background-color: #f04747!important;

  &:active {
    color: rgba(0, 0, 0, 0.7)!important;//color: #f04747!important;
    background-color: gainsboro!important;
  }
}

.lookLink-9FtZy- {
  &:active {
    color: rgba(0, 0, 0, 0.7)!important;
  }
}

.chat .title-3qD0b- .flex-1xMQg5.flex-1O1GKY::after {
  margin-left: 4px;
}

.connectionHeader-2MDqhu .connectionDelete-2Odoln {
  border: none !important;
}

/*.activityFeed-28jde9 {
  .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv {
    background: var(--lvl3);
  }

  .feed-1o0xmF {
    margin-top: 48px;
  }
}*/

#app-mount .titleBar-AC4pGV {
  background: transparent!important;
}

// Games tab fixes
.activityFeed-28jde9 {
  background: var(--lvl1)!important;

  .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv {
    background: var(--lvl1);

    /*&::before {
      content: "";
      height: 48px;
      width: 100%;
      background: var(--lvl3);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 47px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4) !important;
      display: block;
    }*/
  }
}