@import 'https://rawgit.com/Masterzach32/BDStuff/master/CustomCss/root.css';

// status colors
$color-online: #43b581;
$color-idle: #faa61a;
$color-dnd: #f04747;
$color-offline: #636b75;
// guild list height for horizontalServerList
$guild-height: 70px;

@import "noticeFix";
@import "ripples";
@import "languageName";
@import "callBarAnimations";

/* -------------------------------- *
 *           Custom Styles          *
 * -------------------------------- */
/* Fix long usernames */
.container-2Thooq .accountDetails-3k9g4n .username {
  font-size: 13px !important;
  text-overflow: none;
}

/* Remove bold from BD version information */
#bd-settings-sidebar span {
  font-weight: normal !important;
}

/* Fixes the borders around user's status in the private channel list */
.private-channels .channel .status {
  border-color: #222;
}

.lookOutlined-3sRXeN {
  border: none;

  &.colorRed-1TFJan {
    color: #fff;
    background-color: #f04747;
  }
}

.chat .title-3qD0b- .flex-1xMQg5.flex-1O1GKY::after {
  margin-left: 4px;
}

.connectionHeader-2MDqhu .connectionDelete-2Odoln {
  border: none!important;
}