@charset "UTF-8";
@import "https://rawgit.com/Masterzach32/BDStuff/master/CustomCss/root.css";
.notice-2FJMB4 {
  position: absolute;
  top: 70px;
  width: calc(100vw - 70px);
  border-radius: 0; }
  .notice-2FJMB4 .button-1MICoQ {
    border: none !important;
    color: #000;
    background-color: #fff;
    transition: color .2s, background-color .2s; }
    .notice-2FJMB4 .button-1MICoQ:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0);
      transition: color .2s, background-color .2s; }
  .notice-2FJMB4 .dismiss-SCAH9H {
    transition: background 100ms ease !important; }
  .notice-2FJMB4 .dismiss-SCAH9H:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    transition: 300ms ease;
    pointer-events: none; }
  .notice-2FJMB4 .dismiss-SCAH9H:active:after {
    opacity: 0.15;
    -ms-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease; }

.titleBar-AC4pGV {
  background: transparent !important; }
  .titleBar-AC4pGV .winButton-iRh8-Z {
    transition: background 100ms ease !important; }
    .titleBar-AC4pGV .winButton-iRh8-Z:after {
      width: 100%;
      height: 100%;
      background: var(--white10);
      content: "";
      display: block;
      border-radius: 50%;
      opacity: 0;
      position: absolute;
      left: calc(50% + 0.5px);
      top: calc(50% + 0px);
      -ms-transform: translate(-50%, -50%) scale(1.3);
      transform: translate(-50%, -50%) scale(1.3);
      transition: 300ms ease;
      pointer-events: none; }
    .titleBar-AC4pGV .winButton-iRh8-Z:active:after {
      opacity: 0.15;
      -ms-transform: translate(-50%, -50%) scale(1.3);
      transform: translate(-50%, -50%) scale(1.3);
      animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
      transition: 0ms ease; }

.chat .title-3qD0b- .icon-1R19_H {
  transition: background 100ms ease !important; }
  .chat .title-3qD0b- .icon-1R19_H:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3);
    transition: 300ms ease;
    pointer-events: none; }
  .chat .title-3qD0b- .icon-1R19_H:active:after {
    opacity: 0.1;
    -ms-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease; }

.chat .channelTextAreaEnabled-iusU9o .flex-1xMQg5,
.chat .channelTextAreaEnabled-iusU9o .emojiButton-3uL3Aw {
  width: 70px !important;
  transition: background 100ms ease !important; }
  .chat .channelTextAreaEnabled-iusU9o .flex-1xMQg5:after,
  .chat .channelTextAreaEnabled-iusU9o .emojiButton-3uL3Aw:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale(0.6);
    transform: translate(-50%, -50%) scale(0.6);
    transition: 300ms ease;
    pointer-events: none; }
  .chat .channelTextAreaEnabled-iusU9o .flex-1xMQg5:active:after,
  .chat .channelTextAreaEnabled-iusU9o .emojiButton-3uL3Aw:active:after {
    opacity: 0.15;
    -ms-transform: translate(-50%, -50%) scale(0.6);
    transform: translate(-50%, -50%) scale(0.6);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease; }
  .chat .channelTextAreaEnabled-iusU9o .flex-1xMQg5.popout-open:after,
  .chat .channelTextAreaEnabled-iusU9o .emojiButton-3uL3Aw.popout-open:after {
    opacity: 0.1; }

.guilds-wrapper .scroller .friends-icon {
  height: 70px !important;
  margin: 0;
  transition: background 100ms ease !important; }
  .guilds-wrapper .scroller .friends-icon:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
    transition: 300ms ease;
    pointer-events: none; }
  .guilds-wrapper .scroller .friends-icon:active:after {
    opacity: 0.1;
    -ms-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease; }

.userPopout-3XzG_A .addButton-pcyyf6 {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: background 100ms ease !important; }
  .userPopout-3XzG_A .addButton-pcyyf6:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
    transition: 300ms ease;
    pointer-events: none; }
  .userPopout-3XzG_A .addButton-pcyyf6:active:after {
    opacity: 0.1;
    -ms-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease; }
.userPopout-3XzG_A .roleCircleButton-377y0l {
  transition: background 100ms ease !important; }
  .userPopout-3XzG_A .roleCircleButton-377y0l:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3);
    transition: 300ms ease;
    pointer-events: none; }
  .userPopout-3XzG_A .roleCircleButton-377y0l:active:after {
    opacity: 0.1;
    -ms-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease; }

.scroller-2FKFPG {
  /*.containerDefault-3GGEv_ .margin-reset div {
    @include circle-ripple-animation(0.1, 1.3);
  }*/ }
  .scroller-2FKFPG .containerDefault-1ZnADq .iconSpacing-3JkGQO {
    transition: background 100ms ease !important; }
    .scroller-2FKFPG .containerDefault-1ZnADq .iconSpacing-3JkGQO:after {
      width: 100%;
      height: 100%;
      background: var(--white10);
      content: "";
      display: block;
      border-radius: 50%;
      opacity: 0;
      position: absolute;
      left: calc(50% + 0.5px);
      top: calc(50% + 0px);
      -ms-transform: translate(-50%, -50%) scale(1.3);
      transform: translate(-50%, -50%) scale(1.3);
      transition: 300ms ease;
      pointer-events: none; }
    .scroller-2FKFPG .containerDefault-1ZnADq .iconSpacing-3JkGQO:active:after {
      opacity: 0.1;
      -ms-transform: translate(-50%, -50%) scale(1.3);
      transform: translate(-50%, -50%) scale(1.3);
      animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
      transition: 0ms ease; }

.private-channel-call-actions .icons-wrapper .iconButton-3V4WS5 {
  transition: background 100ms ease !important; }
  .private-channel-call-actions .icons-wrapper .iconButton-3V4WS5:after {
    width: 100%;
    height: 100%;
    background: var(--white10);
    content: "";
    display: block;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    left: calc(50% + 0.5px);
    top: calc(50% + 0px);
    -ms-transform: translate(-50%, -50%) scale(1.6);
    transform: translate(-50%, -50%) scale(1.6);
    transition: 300ms ease;
    pointer-events: none; }
  .private-channel-call-actions .icons-wrapper .iconButton-3V4WS5:active:after {
    opacity: 0.1;
    -ms-transform: translate(-50%, -50%) scale(1.6);
    transform: translate(-50%, -50%) scale(1.6);
    animation: scale-center 200ms cubic-bezier(0, 0, 0, 1);
    transition: 0ms ease; }

.markup {
  /* .hljs[class~="" i]::before {content:'';} */ }
  .markup .hljs::before {
    display: block;
    margin-bottom: 10px;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; }
  .markup .hljs[class~="1c" i]::before {
    content: '1C'; }
  .markup .hljs[class~="abnf" i]::before {
    content: 'Augmented BackusΓÇôNaur Form'; }
  .markup .hljs[class~="accesslog" i]::before {
    content: 'Access logs'; }
  .markup .hljs[class~="actionscript" i]::before {
    content: 'ActionScript'; }
  .markup .hljs[class~="ada" i]::before {
    content: 'Ada'; }
  .markup .hljs[class~="apache" i]::before {
    content: 'Apache'; }
  .markup .hljs[class~="apacheconf" i]::before {
    content: 'Apache'; }
  .markup .hljs[class~="arm" i]::before {
    content: 'ARM assembler'; }
  .markup .hljs[class~="armasm" i]::before {
    content: 'ARM assembler'; }
  .markup .hljs[class~="as" i]::before {
    content: 'ActionScript'; }
  .markup .hljs[class~="atom" i]::before {
    content: 'Atom Syndication Format'; }
  .markup .hljs[class~="autohotkey" i]::before {
    content: 'AutoHotkey'; }
  .markup .hljs[class~="avrasm" i]::before {
    content: 'AVR assembler'; }
  .markup .hljs[class~="bash" i]::before {
    content: 'Bash'; }
  .markup .hljs[class~="basic" i]::before {
    content: 'BASIC'; }
  .markup .hljs[class~="bat" i]::before {
    content: 'Batch file (DOS)'; }
  .markup .hljs[class~="bf" i]::before {
    content: 'Brainfuck'; }
  .markup .hljs[class~="brainfuck" i]::before {
    content: 'brainfuck'; }
  .markup .hljs[class~="clj" i]::before {
    content: 'Clojure'; }
  .markup .hljs[class~="clojure" i]::before {
    content: 'Clojure'; }
  .markup .hljs[class~="cmd" i]::before {
    content: 'Batch file (NT)'; }
  .markup .hljs[class~="coffee" i]::before {
    content: 'CoffeeScript'; }
  .markup .hljs[class~="coffeescript" i]::before {
    content: 'CoffeeScript'; }
  .markup .hljs[class~="cpp" i]::before {
    content: 'C++'; }
  .markup .hljs[class~="cs" i]::before {
    content: 'C#'; }
  .markup .hljs[class~="csharp" i]::before {
    content: 'C#'; }
  .markup .hljs[class~="cson" i]::before {
    content: 'CoffeeScript'; }
  .markup .hljs[class~="css" i]::before {
    content: 'Cascading Stylesheet'; }
  .markup .hljs[class~="d" i]::before {
    content: 'D'; }
  .markup .hljs[class~="dos" i]::before {
    content: 'DOS'; }
  .markup .hljs[class~="elixir" i]::before {
    content: 'Elixir'; }
  .markup .hljs[class~="elm" i]::before {
    content: 'Elm'; }
  .markup .hljs[class~="gemspec" i]::before {
    content: 'Ruby Gemspec'; }
  .markup .hljs[class~="go" i]::before {
    content: 'Golang'; }
  .markup .hljs[class~="golang" i]::before {
    content: 'Golang'; }
  .markup .hljs[class~="handlebars" i]::before {
    content: 'Handlebars'; }
  .markup .hljs[class~="hbs" i]::before {
    content: 'Handlebars'; }
  .markup .hljs[class~="html" i]::before {
    content: 'Hypertext Markup Language'; }
  .markup .hljs[class~="html.handlebars" i]::before {
    content: 'Handlebars'; }
  .markup .hljs[class~="html.hbs" i]::before {
    content: 'Handlebars'; }
  .markup .hljs[class~="http" i]::before {
    content: 'Hypertext Transfer Protocol'; }
  .markup .hljs[class~="https" i]::before {
    content: 'Hypertext Transfer Protocol Secure'; }
  .markup .hljs[class~="iced" i]::before {
    content: 'CoffeeScript'; }
  .markup .hljs[class~="ini" i]::before {
    content: 'INI configuration file'; }
  .markup .hljs[class~="java" i]::before {
    content: 'Java'; }
  .markup .hljs[class~="javascript" i]::before {
    content: 'JavaScript'; }
  .markup .hljs[class~="js" i]::before {
    content: 'JavaScript'; }
  .markup .hljs[class~="json" i]::before {
    content: 'JavaScript Object Notation'; }
  .markup .hljs[class~="jsp" i]::before {
    content: 'Java'; }
  .markup .hljs[class~="jsx" i]::before {
    content: 'JavaScript'; }
  .markup .hljs[class~="kotlin" i]::before {
    content: 'Kotlin'; }
  .markup .hljs[class~="less" i]::before {
    content: 'Less stylesheet'; }
  .markup .hljs[class~="mak" i]::before {
    content: 'Makefile'; }
  .markup .hljs[class~="makefile" i]::before {
    content: 'Makefile'; }
  .markup .hljs[class~="markdown" i]::before {
    content: 'Markdown'; }
  .markup .hljs[class~="md" i]::before {
    content: 'Markdown'; }
  .markup .hljs[class~="mk" i]::before {
    content: 'Makefile'; }
  .markup .hljs[class~="mkd" i]::before {
    content: 'Markdown'; }
  .markup .hljs[class~="mkdown" i]::before {
    content: 'Markdown'; }
  .markup .hljs[class~="mm" i]::before {
    content: 'Objective C++'; }
  .markup .hljs[class~="obj-c" i]::before {
    content: 'Objective C'; }
  .markup .hljs[class~="objc" i]::before {
    content: 'Objective C'; }
  .markup .hljs[class~="objectivec" i]::before {
    content: 'Objective C'; }
  .markup .hljs[class~="plist" i]::before {
    content: 'Property list'; }
  .markup .hljs[class~="podspec" i]::before {
    content: 'Ruby Podspec'; }
  .markup .hljs[class~="prolog" i]::before {
    content: 'Prolog'; }
  .markup .hljs[class~="py" i]::before {
    content: 'Python'; }
  .markup .hljs[class~="python" i]::before {
    content: 'Python'; }
  .markup .hljs[class~="rb" i]::before {
    content: 'Ruby'; }
  .markup .hljs[class~="rs" i]::before {
    content: 'Rust'; }
  .markup .hljs[class~="rss" i]::before {
    content: 'Really Simple Sindication'; }
  .markup .hljs[class~="ruby" i]::before {
    content: 'Ruby'; }
  .markup .hljs[class~="rust" i]::before {
    content: 'Rust'; }
  .markup .hljs[class~="scss" i]::before {
    content: 'Sassy Cascading Stylesheet'; }
  .markup .hljs[class~="sql" i]::before {
    content: 'Structured Query Language'; }
  .markup .hljs[class~="swift" i]::before {
    content: 'Swift'; }
  .markup .hljs[class~="ts" i]::before {
    content: 'TypeScript'; }
  .markup .hljs[class~="typescript" i]::before {
    content: 'TypeScript'; }
  .markup .hljs[class~="vb" i]::before {
    content: 'Visual Basic'; }
  .markup .hljs[class~="vbnet" i]::before {
    content: 'Visual Basic .NET'; }
  .markup .hljs[class~="vbs" i]::before {
    content: 'Visual Basic Scripting'; }
  .markup .hljs[class~="vbscript" i]::before {
    content: 'Visual Basic Scripting'; }
  .markup .hljs[class~="vim" i]::before {
    content: 'Vim Script'; }
  .markup .hljs[class~="x86asm" i]::before {
    content: 'x86 Assembly'; }
  .markup .hljs[class~="xhtml" i]::before {
    content: 'Extensible Hypertext Markup Language'; }
  .markup .hljs[class~="xml" i]::before {
    content: 'Extensible Markup Language'; }
  .markup .hljs[class~="xsd" i]::before {
    content: 'Extensible Markup Language Schema Definition'; }
  .markup .hljs[class~="xsl" i]::before {
    content: 'Extensible Markup Language Stylesheet'; }

/* Adds a nice animation to the call bar */
.channels-Ie2l6A .container-1UB9sr {
  animation: callbar-slide-up 250ms cubic-bezier(0.2, 0, 0, 1); }
  .channels-Ie2l6A .container-1UB9sr .inner-btChU7 .rtc-connection-status {
    animation: callbar-slide-up 300ms cubic-bezier(0.2, 0, 0, 1); }
  .channels-Ie2l6A .container-1UB9sr .inner-btChU7 .channel-SEolQq {
    animation: callbar-slide-up 375ms cubic-bezier(0.2, 0, 0, 1); }
  .channels-Ie2l6A .container-1UB9sr .flex-1xMQg5 .buttonInfo-3nkbOt {
    animation: callbar-slide-up 450ms cubic-bezier(0.2, 0, 0, 1); }
  .channels-Ie2l6A .container-1UB9sr .flex-1xMQg5 .buttonDisconnect-3W_SJc {
    animation: callbar-slide-up 525ms cubic-bezier(0.2, 0, 0, 1); }

@keyframes callbar-slide-up {
  from {
    transform: translate(0, 40px); } }
/* -------------------------------- *
 *           Custom Styles          *
 * -------------------------------- */
/* Fix long usernames */
.container-2Thooq .accountDetails-3k9g4n .username {
  font-size: 13px !important;
  text-overflow: none; }

/* Remove bold from BD version information */
#bd-settings-sidebar span {
  font-weight: normal !important; }

/* Fixes the borders around user's status in the private channel list */
.private-channels .channel .status {
  border-color: #222; }

.lookOutlined-3sRXeN {
  border: none; }
  .lookOutlined-3sRXeN.colorRed-1TFJan {
    color: #fff;
    background-color: #f04747; }

.chat .title-3qD0b- .flex-1xMQg5.flex-1O1GKY::after {
  margin-left: 4px; }

/*# sourceMappingURL=version.css.map */
